.features-slider-wrapper {
  background-color: #00C6D0;
  border-radius: 70px;
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 32% !important;
    // width: 400px !important;

  }

  .swiper-slide-next {
    scale: 1.2;
    transition: all 0.5s ease-in-out;
  }

  .features-slide {
    p {
      font-size: 16px !important;
      line-height: 18px !important;
    }
  }

  .slider-bg-img {
    height: 570px;
    width: 100%;
  }

  .features-video-thumbnail-img {
    width: 100%;
    height: 250px !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
  }

  .video-play-btn {
    height: 60px;
    width: 60px;
  }

  .swiper-pagination{
    position: relative;
    margin-top: 80px !important;
  }
  .swiper-pagination-bullet-active{
    scale: 1.3 !important;
    background: #000d9c !important;
    opacity: 0.9 !important;
  }
  .swiper-pagination-bullet{
    scale: 1.3;
    background:#fff;
    opacity:0.6;
  }
}