@font-face {
    font-family: 'crunch-chips';
    src: url('../fonts/crunch-chips.regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hey-kiddo';
    src: url('../fonts/Hey-Kiddo-ink.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}