@import url(./font.scss);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$primary-color: rgba(7, 90, 94, 1);
$secondary-color: rgba(180, 205, 76, 1);
$btn-outline-color: rgba(109, 128, 4, 1);
$btn-color: rgba(195, 216, 10, 1);
$red-primary: #D75438;
$brown-primary: #582C1A;
$purple-primary: #752CAE;

body {
    scroll-behavior: smooth;
    background-color: #7FD839;

}


@keyframes movingLine {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes movingLineNew {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-35.5%);
    }
}

@keyframes movingHeroSection {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.kiddo-font {
    font-family: 'hey-kiddo' !important;
}

.crunch-font {
    font-family: 'crunch-chips' !important;
}

.btn-ctm {
    font-family: 'crunch-chips';
    background-color: $btn-color !important;
    border: 3px solid $btn-outline-color;

    .inner-btn-border {
        border: 2px dashed $primary-color !important;
        z-index: 1 !important;
        position: relative;
    }

    .outer-btn-border {
        border: 1px solid $primary-color !important;
        z-index: 1 !important;
        position: relative;
    }

    h4 {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $primary-color;

    }

    p {
        font-size: 12px !important;
        line-height: 12px !important;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $primary-color;
    }

    .animation-div {
        top: -10px !important;
        left: 0;
        z-index: 0 !important;
        position: absolute;
        display: flex;
        animation: movingLine 10s linear infinite;
    }

    .animation-div img {
        width: 100%;
    }

    .btn-logo {
        width: 2.3rem !important;
    }

}

.btn-ctm-new {
    // border: 2px #b3cb147e;
    background: radial-gradient(#C3D80A, #BED30A, #AFC50C, #98AD10, #8AA012) !important;
    box-shadow: 0px 4px #C3D80A !important;

    .line-group {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .line-up {
        transform: rotate(24deg);
        width: 9px !important;
        height: 74px !important;
        background-color: #C3D80A !important;
        margin-left: 10px;

    }

    .animation-div {
        animation: movingLineNew 2s linear infinite;

    }

    .line-upper-overlay {
        background-color: #b3cb147e !important;
        height: 35px !important;
    }


}

.playStoreBtn {
    .line-up {
        height: 90px !important;
    }
}

.Navbar {

    height: 6rem !important;

    .Background {
        height: 6rem !important;

        img {
            width: 100% !important;
        }
    }

    a {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
        color: $primary-color !important;
    }

    i {
        font-size: 4rem !important;
        color: $primary-color !important;
        cursor: pointer !important;
    }

    .offcanvas {
        background-color: $primary-color !important;
    }
}

.hero-section {
    top: -4.6785rem !important;
    z-index: -2;
    background-color: $primary-color !important;

}

.hero-animation {
    animation: movingHeroSection 12s linear infinite;
    top: -2rem !important;

    img {
        width: 100% !important;
    }
}

.welcome-section {
    background-color: $primary-color !important;
    top: -85px !important;

    .khush-aamdeed-text {
        font-family: 'hey-kiddo';
    }
}

.heading {
    h1 {
        font-family: 'crunch-chips';
        color: $primary-color !important;
        font-size: 4rem !important;
    }
}

.who-we-are-section {
    top: -5.4125rem !important;
    position: relative;
    min-height: 920px !important;
    background: linear-gradient(to right bottom, $primary-color 70%, $secondary-color 30%);
    align-content: baseline !important;

    .heading-p {
        font-family: 'hey-kiddo';
        color: $secondary-color;
        font-size: 4rem !important;
        height: fit-content;
    }

    .teacher-gif {
        height: 700px !important;
        right: -100% !important;
        margin-bottom: -27px !important;
    }

    .mobile {
        margin-top: 11.3rem !important;
        align-items: flex-start !important;
    }

    .who-we-are-right {
        max-width: 45rem !important;
    }
}

.who-we-are-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(to bottom, $secondary-color 70%, transparent 30%), $red-primary url('../images/red-bg.svg') bottom/cover repeat;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 50% 50%);
    // background-blend-mode: multiply !important;

}

.why-humzabaan-section {
    position: relative;
    top: -5.5627rem !important;
    background: $red-primary url('../images/red-bg.svg') bottom/cover repeat;
    background-blend-mode: multiply !important;

    .heading {
        h1 {
            color: $brown-primary !important;
        }
    }

    .features {
        img {
            height: 33rem;
        }

        .features-center-mobile {
            z-index: 6 !important;
            width: 50rem !important;
            height: 28rem !important;
            bottom: -12rem;
        }

        .content {
            width: 300px;
            color: $brown-primary !important;
        }

        .content-1 {
            top: 15%;
            right: 4rem;
        }

        .content-2 {
            top: 15%;
            left: 2.6rem;
        }
    }

    .features-card {
        color: $brown-primary !important;
        background: linear-gradient(0deg, $purple-primary 50%, rgba(255, 255, 255, 0) 50%), url('../images/red-bg.svg') repeat;
        z-index: 7 !important;

        .card-item-1 {
            .card {
                background-color: #FFD912 !important;
                max-width: fit-content;

                .head {
                    p {
                        color: $brown-primary !important;
                        margin-top: 2rem !important;
                        font-size: 3.2rem !important;
                    }
                }

                .content-list {
                    p {
                        position: relative;
                        bottom: -0.9rem !important;
                        color: $brown-primary !important;
                    }
                }
            }
        }

        .card-item-2 {
            .card {
                background-color: #00C6D0 !important;
                max-width: fit-content;

                .head {
                    p {
                        color: #1D3AE2 !important;
                        margin-top: 2rem !important;
                        font-size: 3.2rem !important;
                    }
                }

                .content-list {
                    p {
                        position: relative;
                        bottom: -0.9rem !important;
                        color: #1D3AE2 !important;
                    }
                }
            }
        }

    }

}

.about-urdu {
    padding-bottom: 20px !important;
    position: relative;
    top: -5.56rem !important;
    // background-color: $purple-primary !important;
    background: linear-gradient(to bottom, $purple-primary 80%, $primary-color 50%);
    min-height: max-content !important;
    max-height: max-content !important;

    .heading {
        h1 {

            color: #FFD8A8 !important;
        }
    }

    .about-urdu-bg {
        max-width: 92.8125rem !important;
        max-height: 79rem !important;
        min-height: 79rem !important;
    }

    .about-urdu-content {
        max-width: 85rem;
        max-height: 70rem;
        min-height: 70rem !important;
    }

    .about-urdu-ink-img {
        height: 412px !important;
        bottom: -70px !important;
        right: 45%;
        z-index: 1 !important;
        width: 390px !important;
        transition: all 0.5s ease-in-out;

    }



    .ghalib-video-frame {
        width: 560px !important;
        height: 315px !important
    }

    .urdu-iframe {
        position: absolute !important;
        z-index: 2 !important;
        width: 528px !important;
        height: 286px !important;

    }

    .ghalib-video-thumbnail {
        z-index: 1 !important;
        width: 524px !important;
        height: 294px !important;
    }
}

.about-urdu-ink-img-slide {
    right: 30% !important;
    transition: all 0.5s ease-in-out;
}

.testimonial {
    top: -6.4rem !important;
    // height: 100vh !important;
    background-color: $primary-color !important;

    .testimonial-frame {
        max-height: 60rem !important;
        width: 100% !important;
    }

    .testimonial-frame-mobile-desktop {
        display: flex !important;
    }

    .testimonial-frame-tab {
        display: none !important;
    }

    .testimonial-content {
        margin-top: 7rem !important;

        .heading {
            h1 {

                color: $brown-primary !important;
            }
        }
    }

    .testimonial-list-item {
        max-width: 25rem !important;

        .card {
            max-width: 25rem !important;
            position: relative;
            z-index: 7 !important;

            .image {
                height: 90px !important;
                width: 90px !important;
                border-color: $brown-primary !important;
                background-color: #FFD912 !important;

                img {
                    height: 80px !important;
                    width: 80px !important;
                }
            }

            .sub-heading {
                h2 {
                    color: #FFD912 !important;
                }
            }

            p {
                z-index: 8;
            }
        }

        .card::after {
            content: "";
            position: absolute;
            bottom: -40px !important;
            display: block;
            width: 100px !important;
            height: 100px;
            background-color: #fff !important;
            transform: rotate(45deg);
            border-radius: 20px;
            z-index: 0;
        }
    }
}

.contact-us {
    position: relative;
    z-index: 9 !important;
    top: -7rem !important;
    background: linear-gradient(to bottom, $primary-color 70%, #7FD839 30%);

    .contact-us-frame {
        min-height: 60rem !important;
        max-height: 60rem !important;
        max-width: 80rem !important;
        left: 0px !important;
        position: relative;
    }

    .contact-content {
        max-width: 80rem !important;

        .contact-ghalib-img {
            max-width: 41rem !important;
        }

        form {
            max-width: 35rem !important;
            z-index: 9;
        }

        input {
            height: 4rem !important;
            border: 3px dashed $primary-color !important;
            outline: none;
            background-color: rgba(180, 205, 76, 0.3) !important;
            font-family: 'hey-kiddo';

            &::placeholder {
                font-family: 'hey-kiddo';
                font-size: 2rem !important;
                line-height: 2rem !important;
                color: #000;
                margin-top: 5px !important;
            }
        }

        textarea {
            border: 3px dashed $primary-color !important;
            outline: none;
            background-color: rgba(180, 205, 76, 0.3) !important;
            font-family: 'hey-kiddo';
            height: 12rem !important;

            &::placeholder {
                font-family: 'hey-kiddo';
                font-size: 2rem !important;
                line-height: 2rem !important;
                color: #000;
            }
        }

        .line {
            height: 12px !important;
            width: 44rem !important;
            position: absolute;
            bottom: 86px;
            left: 2px;
            background-color: #84B5FF !important;
        }
    }
}


.footer {

    background-color: #7FD839 !important;
    position: relative;
    top: -7.1rem !important;

    .footer-content {
        max-width: 82rem !important;
    }

    h3 {
        color: $primary-color !important;
    }

    .icon {
        background-color: #1D3AE2 !important;
        height: 45px !important;
        width: 45px !important;

        i {
            color: #7FD839 !important;
        }
    }

    .quicks-links {
        a {
            color: #1D3AE2 !important;
        }
    }

    input {
        font-family: 'hey-kiddo';
        color: #255102 !important;
        border: 2px dashed #255102;
        outline: none;
        background-color: #579B22 !important;

        &::placeholder {
            color: #255102 !important;
            font-family: 'hey-kiddo';
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

.bottom-last {
    background-color: #579B22 !important;
    margin-top: -60px !important;
}

.login {
    background-color: $primary-color !important;
    height: 100vh !important;

    .logo {
        height: 100px !important;
        width: 200px !important;
    }

    .wrapper {
        background-color: #19757a !important;
        height: fit-content !important;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    button {
        border: 2px solid #116367;
        background-color: $primary-color !important;

        &:hover {
            background-color: #05c498 !important;
        }
    }

    input {
        border: 2px solid #05c498 !important;

        &:focus {
            outline: none !important;
        }

        &::placeholder {
            color: #00C6D0 !important;
        }
    }
}