$primary-color: rgba(7, 90, 94, 1);
$secondary-color: rgba(180, 205, 76, 1);
$btn-outline-color: rgba(109, 128, 4, 1);
$btn-color: rgba(195, 216, 10, 1);
$red-primary: #D75438;
$brown-primary: #582C1A;
$purple-primary: #752CAE;

@media (max-width: 999px) {

    .Navbar {
        a {
            color: #fff !important;
        }

        .btn-close {
            color: #fff !important;
            background-color: #fff !important;
        }
    }

    .hero-section {
        top: -4.9rem !important;
    }

    .hero-animation.hero-animation {
        animation: movingHeroSection 4s linear infinite;

    }

    .heading {
        img {
            height: 40px !important;
        }

        h1 {
            font-size: 30px !important;
        }
    }

    .who-we-are-section {
        background-color: $primary-color;
        background: $primary-color;
        /* Fill with primary color */

        .heading-p {
            font-size: 24px !important;
        }

        .who-we-are-left {
            max-width: 100% !important;
            justify-content: center !important;
            background: linear-gradient(to right bottom, $primary-color 50%, $secondary-color 50%);
            padding-bottom: 18px !important;
        }

        .video-frame-img {
            height: 319px !important;
            width: 301.1px !important;
        }

        .teacher-gif {
            right: -87% !important;
            height: 480px !important;
            margin-top: -40px !important;
            margin-bottom: -0px !important;

        }

        .mobile {
            background: $red-primary url('../images/red-bg.svg') bottom/cover repeat;
            background-blend-mode: multiply !important;
            margin-top: 0rem !important;
            padding-top: 30px !important;

            img {
                position: relative !important;
            }

            .mobile-gif {
                margin-left: 95px !important;
            }

            .downloads-btns {
                align-items: center;
            }
        }
    }

    .who-we-are-section::before {
        background: none;
    }

    .features {
        img {
            height: 31.25rem !important;
            width: 27.25rem !important;
        }

        .content {
            width: 285px !important;
        }


        .content-1 {
            top: 22% !important;
            right: 0.8rem !important;
        }

        .content-2 {
            top: 23% !important;
            left: 1.1rem !important;
        }

        .feature-Img-2 {
            height: 33rem !important;
        }

        .features-item {

            width: auto !important;
            margin-top: -139px !important;
        }

        .features-item-margin-top {
            margin-top: 0px !important;
        }

    }

    .features-card {
        .card {

            max-width: 25rem !important;
        }

        background: linear-gradient(0deg, #752CAE 80%, rgba(255, 255, 255, 0) 50%),
        url(/Humzabaan/src/assets/images/red-bg.svg) repeat !important;
    }

    .about-urdu {
        background: linear-gradient(to bottom, $purple-primary 50%, $primary-color 50%);

        p {
            font-size: 14px !important;
        }

        .heading {
            img {
                height: 40px !important;
                width: 393px !important;
            }

            h1 {
                font-size: 30px !important;
            }
        }

        .sub-heading {
            h1 {
                font-size: 24px !important;
            }

            img {

                height: 39px !important;
                width: 367px !important;
            }
        }

        .about-urdu-content {
            margin-top: 18px !important;
            max-width: 24rem !important;
            max-height: auto !important;
        }

        .history-urdu {
            order: 3 !important;
        }

        .video-player {
            height: 186.22px !important;
            width: 328.5px !important;

            .ghalib-video-thumbnail {
                height: 186.22px !important;
                width: 328.5px !important;
            }

            .ghalib-video-frame {
                height: 186.22px !important;
                width: 328.5px !important;
            }
        }

        .about-urdu-ink-img {
            height: 259px !important;
            bottom: -50px !important;
            right: 3px;
            z-index: 8 !important;
        }
    }

    .testimonial {
        min-height: 33rem !important;
        max-height: 42rem !important;
        .heading {
            img {
                height: 31px !important;
            }
            h1{
                font-size: 26px !important;
            }
        }
        .testimonial-frame{
            top: -162px;
            display: flex;
            height: 62rem !important;
            width: 63rem !important;
            position: relative;
            left: 312px;
            z-index: 12;
        }
        .testimonial-content {
            margin-top: 0px !important;
            z-index: 13;
        }
        .testimonial-list{
            width: 390px !important;
        }

        .sub-heading{
            h2{
                font-size: 20px !important;
            }
            img{

                height: 40px !important;
                width: 293px !important;
            }
        }
        .testimonial-list-item {
            max-width: 100% !important;

            .card {
                width: 313.96px !important;
                height: 441px !important;            }

            .card::after {
                bottom: 39% !important;
                left: 86% !important;
                display: block;
                width: 70px !important;
                height: 70px;
            }
        }
    }

    .mySwiper {
        padding-left: 7px !important;
        z-index: 10 !important;
        overflow-y: auto !important;
        width: 390px !important
    }

    .swiper-pagination {

        bottom: -25px;
        z-index: 12;
    }

    .swiper-pagination-bullet {
        background: #cd0d0d !important;
    }

    .swiper-pagination-bullet-active {

        background: #C3D80A !important;
    }
    .swiper-slide{
        width: 360px !important;
        margin-right: 63px !important;
    } 

    .contact-us {
        padding-top: 126px !important;
        .contact-content {
            max-width: 24rem !important;
            width: 340px !important;
            .contact-ghalib-img {
                max-width: 26rem !important;
                top: -132px !important;
                position: relative;
            }
        }
        .contact-us-frame {
            min-height: 60rem !important;
            max-height: 60rem !important;
            max-width: 80rem !important;
            left: -458px !important;
            position: relative;
        }
        form{
            z-index: 20 !important;
            position: relative;
        }
    }

    .footer {
        .footer-content {
            max-width: 24rem !important;
        }
        
    }
   
}
@media (min-width:200px) and (max-width:575px) {
    .bottom-last {
        background-color: #325F0F !important;

        .left-part{
            background-color: #579B22 !important;
        }
        .right-part{
            background-color: #325F0F !important;
        }
    }
}

// @media (min-width:550px) and (max-width:999px) {
//     .testimonial {
//         min-height: 33rem !important;
//         max-height: 42rem !important;
//         .heading {
//             img {
//                 height: 31px !important;
//             }
//             h1{
//                 font-size: 26px !important;
//             }
//         }
//         .testimonial-frame-mobile-desktop{
//             display: none !important;
//         }
//         .testimonial-frame-tab{
//             display: flex !important;
//         }
//         .testimonial-frame {
//             top: -61px;
//             display: flex;
//             height: 53rem !important;
//             width: 56rem !important;
//             position: relative;
//             left: 0px;
//             z-index: 12;
//         }
//         .testimonial-content {
//             margin-top: 48px !important;
//         }
//         .testimonial-list{
//             width: 390px !important;
//         }

//         .sub-heading{
//             h2{
//                 font-size: 20px !important;
//             }
//             img{

//                 height: 40px !important;
//                 width: 293px !important;
//             }
//         }
//         .testimonial-list-item {
//             max-width: 100% !important;

//             .card {
//                 width: 313.96px !important;
//                 height: 441px !important;            }

//             .card::after {
//                 bottom: 39% !important;
//                 left: 86% !important;
//                 display: block;
//                 width: 70px !important;
//                 height: 70px;
//             }
//         }
//     }
//     .contact-us {
//         padding-top: 210px !important;
//     }
// }